{% extends 'base_class.html' %}
{% load static %}
{% block list_view %}
<div class="container justify-content-sm-center">
  <div class=" d-flex p-1 justify-content-end align-content-end">
    <a href="{% url 'add_Animals' %}" class="btn btn-success">Add</a>
  </div>
  
  {% for lis in lista_All %}
  <p class="h3 text-black-50 fa-bold w-100 border-bottom">{{lis.AnimalList}}</p>   

  
    
                        
    <div class="row row-cols-2">
        {% for grupo in pages %}  
        
        {% if grupo.PGRUPO.idAnimalList == lis.idAnimalList %}
          
        
          
            <div class="col-sm py-2 g-3 w-100  ">
            <div class="container-lg px-1 text-center"style="width:290px;">
                <div class="row gx-1 row-cols-1 " style="">
                    <div class="card text-center "  {%if grupo.opcion == 'B' %}  style="background-color: rgba(197, 248, 231, 0.133); border-color: brown;" {% else %} style="border-color: blue;" {% endif%}  >
                        <a href="{% url 'select_Animals' grupo.id_MenuButton %}" class="nav-link ">
                        <div class="row g-0">
                          <div class="col-md-8 w-100">
                            <img src="{{ grupo.foto.url }}" class="card-img w-100 h-100" alt="...">
                          </div>

                          <div class="col">
                            <div class="card-body text-center">
                              <h5 class="card-title">{{ grupo.titulo }}</h5>
                              <p class="h-25">
                                {%if grupo.opcion == 'A' %}
                                Menu
                                {% else %}
                                Directo
                                 {% endif%}
                                </p>
                            </div>
                          </div>
                          
                        </div></a>
                      </div>
                </div>
              </div>
    
        </div>
    {% endif %}
        {% endfor %}
        
        
    </div>
    {% endfor %}
    <div class="pagination">
        <nav aria-label="...">
      <ul class="pagination">
        {% if pages.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1">first</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ pages.previous_page_number }}">previous</a>
                </li>
                
            {% endif %}
            <li class="page-item">
              <p class="page-link">
                  Page {{ pages.number }} of {{ pages.paginator.num_pages }}.
               </p>
              </li>
              
          </span>
    
        {% if pages.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ pages.next_page_number }}">next</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ pages.paginator.num_pages }}">last</a>
                </li>
          {% endif %}
        
      </ul>
    </nav>
    
    </div>
  </div>
  

{% endblock %}